vendor
.bundle

log/*.log
tmp/token
tmp/*.sock
tmp/pids/*.pid
tmp/dialogue/*
tmp/db/*.db
config/application.yml
config/google/*
config/db/basketball.db
webroot/static/qr/*.png
webroot/static/profiles/*
